{% extends 'admin/admin_layout.html.twig' %}

{% block body %}
    <h1>Jobs list</h1>

        <p>
            <a href="{{ path('job_new') }}" class="btn btn-success btn-sm">Ajouter</a>
    </p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                <td>{{ job.name }}</td>
                <td>
                    <ul "list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="{{ path('job_show', { 'id': job.id }) }}" class="btn btn-success">show</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('job_edit', { 'id': job.id }) }}" class="btn btn-primary">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
